* {
    box-sizing: border-box;
    font-family: monospace;
}

body {
    padding: 0;
    margin: 0;

    width: 100vw;
    height: 100vh;

    font-family: monospace;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    color: white;
    background: black; 
}

h1 {
    font-size: 35px;
    margin: 0;
}

p {
    font-size: 20px;
    margin-bottom: 30px;
}

input, button {
    border: 1px solid white;
    border-radius: 12px;
    outline: none;

    background: transparent;
    color: white;

    padding: 7px 14px;
    font-size: 16px;
}

input {
    outline: none;
}

button:hover {
    cursor: pointer;
}
